{% extends 'stock/base.html' %}
{% block content %}
 <h1 class="text-xl italic font-bold text-red-800 text-center">Bill Details </h1>
<form  class="w-2/5" method="POST" enctype="multipart/form-data" >
    
    {% csrf_token %}

    <div>
        <label class="font-medium italic m-10">Patient ID:</label>
        <input   class="bg-blend-darken shadow-lg border-solid border-pink-300 my-3.5 ml-3 border-r-8"placeholder="patient_id" type="text" name="patient_id" id="patient_id" >
    </div>
    <div>
        <label class="font-medium italic m-10">Bill No:</label>
        <input   class="bg-blend-darken shadow-lg border-solid border-pink-300 my-3.5 ml-3 border-r-8"placeholder="bill_no" type="text" name="bill_no" id="bill_no" >
    </div>
    <div>
        <label class="font-medium italic m-10">Patient First Name:{{p.f_name}}</label>
        

    </div>
     <div>
        <label class="font-medium italic m-10">Patient Last Name:{{p.l_name}}</label>
       

    </div>
    
    <div>
        <label class="font-medium italic m-10">Bill Date</label>
        <input   class="bg-blend-darken shadow-lg border-solid border-pink-300 my-3.5 ml-3 border-r-8"placeholder="bill_date" type="text" name="bill_date" id="bill_date" >
    </div>
     <div>
        <label class="font-medium italic m-10">Bill Amount</label>
        <input   class="bg-blend-darken shadow-lg border-solid border-pink-300 my-3.5 ml-3 border-r-8"placeholder="bill_amt" type="text" name="bill_amt" id="bill_amt" >
    </div>